<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl3WQjCRWFflAvKFCMgGA-FES8GAKW4R0</string>
	<key>GCM_SENDER_ID</key>
	<string>152868044389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationDelivery</string>
	<key>PROJECT_ID</key>
	<string>flutter-application-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-application-delivery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152868044389:ios:999367c1bee6d43890d08c</string>
</dict>
</plist>